
@font-face {
    font-family: UbuntuMono;
    src: url("./../fonts/UbuntuMono-Bold.ttf");
}

@font-face {
    font-family: Ubuntu;
    src: url("./../fonts/UbuntuSans-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
    color: #222;
    font-family: Ubuntu;
    line-height: 1.5;
}

h1, h2 {
    font-family: UbuntuMono;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

@keyframes head__background {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    background-image: linear-gradient(135deg, rgba(223, 123, 248, 0.5) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0.6) 70%, rgba(255, 245, 108, 0.5) 100%), url("./../image/MegaMendung.jpg");
    background-position: 0 0%;
    animation: head__background 120s infinite linear;
    opacity: .25;
}

.about {
    margin: auto;
    max-width: 800px;
    margin-top: 4rem;
    margin-bottom: 50vh;
    gap: 4rem;
    text-align: justify;
    display: flex;
    flex-direction: row-reverse;
}

.about--content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about--image img {
    max-width: 275px;
    filter: drop-shadow(0 0 2px black);
}