<div class="w-full h-max pb-20 bg-white relative z-1">
  <h2 class="py-16 text-4xl text-center font-semibold">Latest News</h2>
  <div class="flex flex-wrap justify-center gap-4 px-4">
    <a class="p-3 border-1 border-gray-200 rounded-lg max-w-[450px] transition hover:bg-gray-100" href="#">
      <div class="overflow-hidden rounded-md">
        <img class="w-full rounded-md aspect-video transition duration-450 hover:scale-105" src="/splash_art/project_block.jpg" alt="Thumbnail of Project Block">
      </div>
      <h3 class="md:text-3xl sm:text-2xl text-xl font-semibold py-4 leading-[150%]">Project Block: MMO Craft-like Game In Development</h3>
      <span class="float-right px-4 py-2 md:text-base sm:text-sm text-xs font-semibold rounded-full bg-violet-200 text-violet-950">In Development</span>
    </a>
    <a class="p-3 border-1 border-gray-200 rounded-lg max-w-[450px] transition hover:bg-gray-100" href="#">
      <div class="overflow-hidden rounded-md">
        <img class="w-full rounded-md aspect-video transition duration-450 hover:scale-105" src="/splash_art/pumpkin_nights.jpg" alt="Thumbnail of Pumpkin Nights">
      </div>
      <h3 class="md:text-3xl sm:text-2xl text-xl font-semibold py-4 leading-[150%]">Pumpkin Nights: Multiplayer Horror Survival Game</h3>
      <span class="float-right px-4 py-2 md:text-base sm:text-sm text-xs font-semibold rounded-full bg-emerald-200 text-emerald-950">Product</span>
    </a>
    <a class="p-3 border-1 border-gray-200 rounded-lg max-w-[450px] transition hover:bg-gray-100" href="#">
      <div class="overflow-hidden rounded-md">
        <img class="w-full rounded-md aspect-video transition duration-450 hover:scale-105" src="/thumbnail/site-update-thumbnail.jpg" alt="Thumbnail of MadByAd new Developer Identity">
      </div>
      <h3 class="md:text-3xl sm:text-2xl text-xl font-semibold py-4 leading-[150%]">Site Redesign: Update To The MadByAd Developer Identity</h3>
      <span class="float-right px-4 py-2 md:text-base sm:text-sm text-xs font-semibold rounded-full bg-sky-200 text-sky-950">Company</span>
    </a>
  </div>
  <div class="flex justify-center">
    <a class="bg-black text-white md:text-xl sm:text-lg text-base px-16 py-2 font-semibold rounded-full transition hover:bg-sky-600 mt-16" href="#">More News →</a>
  </div>
</div>