
<div class="w-full h-max pb-20 bg-white relative z-1">
  <h2 class="py-16 text-4xl text-center font-semibold">Our Products</h2>
  <div class="flex flex-wrap justify-center md:gap-16 gap-8 px-4">

    {{/*  Project Block  */}}
    <div class="bg-gray-100 rounded-lg max-w-[600px] relative">
      <div class="overflow-hidden rounded-t-lg">
        <img class="w-full rounded-t-lg aspect-video transition duration-450 hover:scale-105" src="/splash_art/project_block.webp" alt="Thumbnail of Project Block">
      </div>
      <div class="flex xs:items-center items-start xs:gap-0 gap-4 p-4 xs:flex-row flex-col">
        <div class="flex items-center">
          <img class="md:w-[100px] w-[80px] aspect-square rounded-md" src="/icon/project_block_temporary_icon.jpg" alt="Icon of a Grass Block">
          <div class="px-4">
            <h3 class="md:text-xl text-lg font-semibold">Project Block</h3>
            <p class="md:text-base sm:text-base text-sm text-gray-600 font-medium">Where the Exploration Begins: A Voxel Sandbox Game in Development</p>
          </div>
        </div>
        <a class="md:px-16 md:px-12 px-8 py-3 bg-white border-1 border-sky-700 text-sky-800 rounded-full md:text-lg sm:text-base text-sm font-semibold transition hover:bg-sky-600 hover:text-white" href="/news/2026_10_03_project_block/" aria-label="Learn More About Our Product Project Block">More</a>
        <span class="absolute top-0 right-0 px-4 py-2 m-4 sm:text-sm text-xs font-semibold rounded-full bg-violet-200 text-violet-950">In Development</span>
      </div>
    </div>

    {{/*  Pumpkin Nights  */}}
    <div class="bg-gray-100 rounded-lg max-w-[600px] relative">
      <div class="overflow-hidden rounded-t-lg">
        <img class="w-full rounded-t-lg aspect-video transition duration-450 hover:scale-105" src="/thumbnail/pumpkin_nights.webp" alt="Thumbnail of Pumpkin Nights">
      </div>
      <div class="flex xs:items-center items-start xs:gap-0 gap-4 p-4 xs:flex-row flex-col">
        <div class="flex items-center">
          <img class="md:w-[100px] w-[80px] aspect-square rounded-md" src="/icon/pumpkin_nights.jpg" alt="Icon of the Pumpkin Reaper">
          <div class="px-4">
            <h3 class="md:text-xl text-lg font-semibold">Pumpkin Nights</h3>
            <p class="md:text-base sm:text-base text-sm text-gray-600 font-medium">Can you & Your Friends Survive Againts The Pumpkin Attack?</p>
          </div>
        </div>
        <a class="md:px-16 md:px-12 px-8 py-3 bg-white border-1 border-sky-700 text-sky-800 rounded-full md:text-lg sm:text-base text-sm font-semibold transition hover:bg-sky-600 hover:text-white" href="https://madbyad.itch.io/pumpkin-nights" target="_blank" aria-label="Learn More About Our Product Pumpkin Nights">More</a>
        <span class="absolute top-0 right-0 px-4 py-2 m-4 sm:text-sm text-xs font-semibold rounded-full bg-sky-200 text-sky-950">PlayStore Release</span>
      </div>
    </div>

    {{/*  Scary Corporate Life Simulator  */}}
    <div class="bg-gray-100 rounded-lg max-w-[600px] relative">
      <div class="overflow-hidden rounded-t-lg">
        <img class="w-full rounded-t-lg aspect-video transition duration-450 hover:scale-105" src="/splash_art/scary_corporate_life_simulator.webp" alt="Thumbnail of Scary Corporate Life Simulator">
      </div>
      <div class="flex xs:items-center items-start xs:gap-0 gap-4 p-4 xs:flex-row flex-col">
        <div class="flex items-center">
          <img class="md:w-[100px] w-[80px] aspect-square rounded-md" src="/icon/scary_corporate_life_simulator.png" alt="Icon of a Scary Corporate Life Simulator">
          <div class="px-4">
            <h3 class="md:text-xl text-lg font-semibold">Scary Corporate Life Simulator</h3>
            <p class="md:text-base sm:text-base text-sm text-gray-600 font-medium">Work & Survive a Scary Corporate Night Job</p>
          </div>
        </div>
        <a class="md:px-16 md:px-12 px-8 py-3 bg-white border-1 border-sky-700 text-sky-800 rounded-full md:text-lg sm:text-base text-sm font-semibold transition hover:bg-sky-600 hover:text-white" href="https://madbyad.itch.io/scary-corporate-life-simulator" target="_blank" aria-label="Learn More About Our Product Bara Basic in Arabic">More</a>
        <span class="absolute top-0 right-0 px-4 py-2 m-4 sm:text-sm text-xs font-semibold rounded-full bg-rose-200 text-rose-950">Itch.Io Release</span>
      </div>
    </div>

    {{/*  Bara Basic in Arabic  */}}
    <div class="bg-gray-100 rounded-lg max-w-[600px] relative">
      <div class="overflow-hidden rounded-t-lg">
        <img class="w-full rounded-t-lg aspect-video transition duration-450 hover:scale-105" src="/splash_art/bara_basic.webp" alt="Thumbnail of Bara Basic">
      </div>
      <div class="flex xs:items-center items-start xs:gap-0 gap-4 p-4 xs:flex-row flex-col">
        <div class="flex items-center">
          <img class="md:w-[100px] w-[80px] aspect-square rounded-md" src="/icon/bara_basic.jpg" alt="Icon of Bara">
          <div class="px-4">
            <h3 class="md:text-xl text-lg font-semibold">Bara Basic in Arabic</h3>
            <p class="md:text-base sm:text-base text-sm text-gray-600 font-medium">Welcome to Bara Arabic Schoolhouse (Horror Comedy Game)</p>
          </div>
        </div>
        <a class="md:px-16 md:px-12 px-8 py-3 bg-white border-1 border-sky-700 text-sky-800 rounded-full md:text-lg sm:text-base text-sm font-semibold transition hover:bg-sky-600 hover:text-white" href="https://madbyad.itch.io/bara-basic" target="_blank" aria-label="Learn More About Our Product Scary Corporate Life Simulator">More</a>
        <span class="absolute top-0 right-0 px-4 py-2 m-4 sm:text-sm text-xs font-semibold rounded-full bg-rose-200 text-rose-950">Itch.Io Release</span>
      </div>
    </div>

    {{/*  Map of The Solar System  */}}
    <div class="bg-gray-100 rounded-lg max-w-[600px] relative">
      <div class="overflow-hidden rounded-t-lg">
        <img class="w-full rounded-t-lg aspect-video transition duration-450 hover:scale-105" src="/splash_art/map_of_the_solar_system.webp" alt="Thumbnail of Map Of The Solar System">
      </div>
      <div class="flex xs:items-center items-start xs:gap-0 gap-4 p-4 xs:flex-row flex-col">
        <div class="flex items-center">
          <img class="md:w-[100px] w-[80px] aspect-square rounded-md" src="/icon/map_of_the_solar_system.jpg" alt="Icon of an Earth">
          <div class="px-4">
            <h3 class="md:text-xl text-lg font-semibold">Map of The Solar System</h3>
            <p class="md:text-base sm:text-base text-sm text-gray-600 font-medium">3D Visualization of The Solar System</p>
          </div>
        </div>
        <a class="md:px-16 md:px-12 px-8 py-3 bg-white border-1 border-sky-700 text-sky-800 rounded-full md:text-lg sm:text-base text-sm font-semibold transition hover:bg-sky-600 hover:text-white" href="https://madbyad.itch.io/map-of-the-solar-system" target="_blank" aria-label="Learn More About Our Product Map Of The Solar System">More</a>
        <span class="absolute top-0 right-0 px-4 py-2 m-4 sm:text-sm text-xs font-semibold rounded-full bg-emerald-200 text-emerald-950">Web Application</span>
      </div>
    </div>

  </div>
</div>