{{ define "main" }}

<div class="w-full h-[70px]"></div>

<div class="relative py-16 px-4">
  <div
    class="absolute top-0 w-full h-full opacity-15"
    style="
      background-color:rgba(0, 0, 0, 0.5);
      background-image: url('/brand-pattern.jpg');
      background-size: 256px;">
  </div>
  <div class="relative mx-auto max-w-[1000px]">
    <h1 class="md:text-7xl sm:text-6xl text-4xl font-semibold">About Us</h1>
  </div>
</div>

<div class="mx-auto max-w-[1000px] px-4 py-16 flex flex-col gap-6 text-justify text-lg">
  <div class="w-max text-3xl font-semibold">
    <div>About MadByAd</div>
    <div class="flex gap-1">
      <div class="w-1/3 h-[4px] bg-black rounded-l-full"></div>
      <div class="w-2/3 h-[4px] bg-black rounded-r-full"></div>
    </div>
  </div>
  <p>MadByAd is a small independent game studio crafting games since 2024. We create unique and memorable experiences, exploring ideas that go beyond conventional game design while keeping our games fun and engaging.</p>
  <p>We believe game development is a space for experimentation. Through our projects, we explore new ideas, creative approaches, and different ways of using technology to create interactive experiences. We are not afraid to experiment and iterate to see how far we can push the boundaries of what games can be.</p>
  <p>At MadByAd, we see every game as an opportunity to learn, create, and explore. Whether it is through gameplay, visuals, technology, or storytelling, we strive to build games that reflect our curiosity and creativity while offering players something unique to experience.</p>
  <div class="flex flex-wrap justify-center gap-8 pt-8">
    <div class="w-[250px] flex flex-col items-center">
      <img class="aspect-square w-[100px] rounded-xl border-1 border-gray-300" src="/icon/project_block_temporary_icon.jpg" alt="Icon of Project Block">
      <p class="text-center text-sm text-gray-500 font-medium pt-2">Project Block</p>
    </div>
    <div class="w-[250px] flex flex-col items-center">
      <img class="aspect-square w-[100px] rounded-xl border-1 border-gray-300" src="/icon/pumpkin_nights.jpg" alt="Icon of Pumpkin Nights">
      <p class="text-center text-sm text-gray-500 font-medium pt-2">Pumpkin Nights</p>
    </div>
    <div class="w-[250px] flex flex-col items-center">
      <img class="aspect-square w-[100px] rounded-xl border-1 border-gray-300" src="/icon/bara_basic.jpg" alt="Icon of Bara Basic in Arabic">
      <p class="text-center text-sm text-gray-500 font-medium pt-2">Bara Basic in Arabic</p>
    </div>
    <div class="w-[250px] flex flex-col items-center">
      <img class="aspect-square w-[100px] rounded-xl border-1 border-gray-300" src="/icon/scary_corporate_life_simulator.png" alt="Icon of Scary Corporate Life Simulator">
      <p class="text-center text-sm text-gray-500 font-medium pt-2">Scary Corporate Life Simulator</p>
    </div>
    <div class="w-[250px] flex flex-col items-center">
      <img class="aspect-square w-[100px] rounded-xl border-1 border-gray-300" src="/icon/map_of_the_solar_system.jpg" alt="Icon of Map of The Solar System">
      <p class="text-center text-sm text-gray-500 font-medium pt-2">Map of The Solar System</p>
    </div>
  </div>
</div>

{{ end }}