<footer class="bg-black text-white p-6 pb-12">
  <ul class="flex flex-wrap sm:justify-center text-sm font-semibold gap-x-8 gap-y-4">
    <li>
      <a href="{{ .Site.Home.RelPermalink }}">Home</a>
    </li>
    <li>
      <a href="/news">News</a>
    </li>
    <li>
      <a href="/about-us">About Us</a>
    </li>
    <li>
      <a href="/contact">Contact</a>
    </li>
    <li>
      <a href="/privacy-policy">Privacy Policy</a>
    </li>
    <li>
      <a href="/terms-of-service">Terms of Service</a>
    </li>
  </ul>
  <img class="sm:h-[128px] h-[96px] sm:mx-auto my-4 object-contain" src="/Logo-256.png" alt="MadByAd">
  <div class="sm:mx-auto w-max sm:text-center">
    <small class="inline-block text-wrap w-full">Copyright &copy; MadByAd. All Rights Reserved</small>
    <address class="text-xs not-italic">
      Depok, West Java, Indonesia
    </address>
    <address class="text-xs not-italic">
      madbyad.io@gmail.com
    </address>
  </div>
</footer>
