{{ define "main" }}

{{ partial "index/hero" . }}

<div class="py-16 text-center border-b-1 relative z-1 bg-white">
  <div
    class="absolute left-0 top-0 w-full h-full opacity-15"
    style="
      background-color:rgba(0, 0, 0, 0.5);
      background-image: url('/brand-pattern.jpg');
      background-size: 256px;">
  </div>
  <h1 class="md:text-6xl sm:text-4xl text-2xl">A Studio Crafting Games</h1>
</div>

{{ partial "index/news" }}

<div class="h-[250px] text-center relative">
  <div
    class="absolute left-0 top-0 w-full h-full opacity-15"
    style="
      background-color:rgba(0, 0, 0, 0.5);
      background-image: url('/brand-pattern.jpg');
      background-size: 256px;">
  </div>
  <img class="fixed -z-1 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 md:w-[400px] sm:w-[350px] w-[300px] opacity-50" src="/Icon-Black-512.png" alt="MadByAd Icon">
</div>

{{ partial "index/products" . }}

<div class="relative flex flex-wrap justify-center bg-white gap-4 pb-16">
  <div
    class="absolute bottom-0 w-full h-2/3 opacity-15"
    style="
      background-color:rgba(0, 0, 0, 0.5);
      background-image: url('/brand-pattern.jpg');
      background-size: 256px;">
  </div>
  <a class="relative overflow-hidden sm:mx-0 mx-4 sm:p-8 p-4 bg-white border border-zinc-700 rounded-lg aspect-video transition duration-300 hover:invert" href="/about-us">
    <div class="title text-3xl font-semibold pr-16">Learn More About Us</div>
    <div class="w-1/2 flex gap-1 pt-2">
      <div class="w-1/4 h-[6px] bg-black rounded-l-full"></div>
      <div class="w-3/4 h-[6px] bg-black rounded-r-full"></div>
    </div>
    <img class="absolute bottom-0 right-0 w-[220px] translate-x-1/6 translate-y-1/8 rotate-15 opacity-10" src="/Icon-Black-512.png" alt="MadByAd icon">
  </a>
  <a class="relative overflow-hidden sm:mx-0 mx-4 sm:p-8 p-4 bg-white border border-zinc-700 rounded-lg aspect-video transition duration-300 hover:invert" href="/contact">
    <div class="title text-3xl font-semibold pr-16">Want to Talk With Us?</div>
    <div class="w-1/2 flex gap-1 pt-2">
      <div class="w-1/4 h-[6px] bg-black rounded-l-full"></div>
      <div class="w-3/4 h-[6px] bg-black rounded-r-full"></div>
    </div>
    <img class="absolute bottom-0 right-0 w-[220px] translate-x-1/6 translate-y-1/8 rotate-15 opacity-10" src="/Icon-Black-512.png" alt="MadByAd icon">
  </a>
</div>

{{ end }}